In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Make a reference to the books.csv file path
file = "Resources/books.csv"
# Import the books.csv file as a DataFrame
file_df = pd.read_csv(file, encoding="ISO-8859-1")
file_df.head()
file_df.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [3]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: ""isbn"", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"
clean_file = file_df.drop(columns =['id','book_id','best_book_id', 'work_id','books_count', 'isbn13',
                                    'ratings_count','work_ratings_count','language_code','title',
                                    'work_text_reviews_count','image_url','small_image_url'])
clean_file.head()

,isbn,authors,original_publication_year,original_title,average_rating,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,439023483,Suzanne Collins,2008.0,The Hunger Games,4.34,66715,127936,560092,1481305,2706317
1,439554934,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,4.44,75504,101676,455024,1156318,3011543
2,316015849,Stephenie Meyer,2005.0,Twilight,3.57,456191,436802,793319,875073,1355439
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,4.25,60427,117415,446835,1001952,1714267
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,3.89,86236,197621,606158,936012,947718

In [4]:
# Rename the headers to be more explanatory

renamed_file = clean_file.rename(columns = {"isbn":"ISBN code", "authors": "Authors",
                                            "original_publication_year": "Year of publication",
                                            "original_title": "title", "ratings_1":"ratings 1","ratings_2": "ratings 2",
                                            "ratings_3": "ratings 3", "ratings_4": "ratings 4",
                                            "ratings_5": "ratings 5"})
renamed_file.head()

,ISBN code,Authors,Year of publication,title,average_rating,ratings 1,ratings 2,ratings 3,ratings 4,ratings 5
0,439023483,Suzanne Collins,2008.0,The Hunger Games,4.34,66715,127936,560092,1481305,2706317
1,439554934,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,4.44,75504,101676,455024,1156318,3011543
2,316015849,Stephenie Meyer,2005.0,Twilight,3.57,456191,436802,793319,875073,1355439
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,4.25,60427,117415,446835,1001952,1714267
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,3.89,86236,197621,606158,936012,947718

In [9]:
# Push the remade DataFrame to a new CSV file
file_df.to_csv("Resources/GoodReadsOutput.csv", index=False, header=True)